<% provide :title, @user.name %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %><br/>
        <%= @user.email %>
        <%= l @user.created_at, format: :long %>
        <%= l @user.updated_at, format: :long %>
      </h1>
    </section>
  </aside>
</div>
