<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("sample_app"), home_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("home"), home_path %></li>
        <li><%= link_to t("help"), help_path %></li>
        <li><%= link_to t("about"), about_path %></li>
        <li><%= link_to t("log_in"), "#" %></li>
        <li><%= link_to t("english"), locale: :en %></li>
        <li><%= link_to t("vietnamese"), locale: :vi %></li>
      </ul>
    </nav>
  </div>
</header>
